---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';

// Your personal information
const personalInfo = {
  name: "David Alejandro Lerea",
  title: "Full Stack Developer",
  description: "¡Hola! Soy un apasionado desarrollador de aplicaciones y analista funcional con experiencia en la creación de soluciones innovadoras y eficientes para diversas industrias. Mi enfoque combina habilidades técnicas en frontend y backend con un sólido entendimiento de los requerimientos funcionales de los proyectos.Trabajo con tecnologías como Vue.js, Nuxt, Tailwind, Laravel, PHP, Flutter, y Mendix, y tengo experiencia en análisis funcional, diseño de interfaces, pruebas de software, integración continua, y servicios en la nube.",
  email: "davidalejandrolerea@gmail.com",
  github: "https://github.com/davidalejandrolerea29",
  linkedin: "https://www.linkedin.com/in/david-alejandro-760a40173/"
};

// Your skills
const skills = [
  { name: "JavaScript", level: 90 },
  { name: "Flutter", level: 85 },
  { name: "Node.js", level: 80 },
  { name: "TypeScript", level: 75 },
  { name: "Vuejs", level: 80 },
  { name: "SQL", level: 85 }
];

// Your projects
const projects = [
  {
    title: "Camisetas and co - WebSite",
    description: "Desarrollo de la landing page utilizando nuxtjs",
    link: "https://www.camisetasandco.com/",
    image: "https://fotoporfolio.s3.us-east-1.amazonaws.com/Captura+de+pantalla+(145).png"
  },
  {
    title: "Camisetas and co - diseño de prenda",
    description: "Diseño de prenda utilizando canvas en vuejs con laravel para el backend",
    link: "https://www.camisetasandco.com/disenio",
    image: "https://fotoporfolio.s3.us-east-1.amazonaws.com/Captura+de+pantalla+(146).png"
  },
  {
    title: "App de gestion de consumo electrico",
    description: "Aplicacion realizada en flutter para gestion el consumo electrico en una institucion educativa",
    link: "https://fotoporfolio.s3.us-east-1.amazonaws.com/home2.jpg",
    image: "https://fotoporfolio.s3.us-east-1.amazonaws.com/home2.jpg"
  }
];
---

<Layout title={`${personalInfo.name} - Portfolio`}>
  <Header />
  <main>
    <Hero 
      name={personalInfo.name}
      title={personalInfo.title}
      description={personalInfo.description}
    />
    <Skills skills={skills} />
    <Projects projects={projects} />
    <Contact 
      email={personalInfo.email}
      github={personalInfo.github}
      linkedin={personalInfo.linkedin}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>